html,
body {
  background-color: #e0e0e0;
  font-family: "Kanit", sans-serif;
}

.current-font {
  font-family: "Kanit", sans-serif;
}

.app-div {
  padding: 20px;
}

.heading1 {
  font-size: 25px;
}

.font-weight-450 {
  font-weight: 450;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.heading2 {
  font-size: 50px;
}

.heading3 {
  font-size: 40px;
}

.heading4 {
  font-size: 20px;
}

.heading5 {
  font-size: 14px;
}

.heading6 {
  font-size: 30px;
}

.btn-font {
  font-size: 15px;
}

.neumorphic-card {
  background-color: #e0e0e0 !important;
  border-radius: 50px !important;
  box-shadow: 8px 8px 16px #929292, -8px -8px 16px #ffffff !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar-div2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}

.hide-navbar-div2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}

.navbar-div2-type2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  margin: 0 10px 0 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  background: #d9d9d9;
  border: none;
  font-family: "Kanit", sans-serif;
  box-shadow: inset 5px 5px 10px #a1a1a1, inset -5px -5px 10px #ffffff;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
  color: black;
}

.menu-btn:hover {
  box-shadow: 5px 5px 10px #929292, -5px -5px 10px #ffffff !important;
  transform: scale(1.2);
}

.line-space {
  line-height: 55px;
}

.grey-color {
  color: #5a626f;
}

.flex-div-type1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-div-type2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.round-custom-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 100%;
}

.image-box {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  box-shadow: 8px 8px 16px #929292, -8px -8px 16px #ffffff !important;
  padding: 8px;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
}

.display-menu-bar {
  margin-right: 20px;
  position: relative;
  top: 7px;
  display: none;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px #a1a1a1, inset -5px -5px 10px #ffffff;
  border-radius: 100%;
  /* padding: 20px 21px 20px 21px; */
  transition: transform 0.6s ease-in-out;
  border: none;
  outline: none;
}

.display-menu-bar:hover {
  box-shadow: 5px 5px 10px #929292, -5px -5px 10px #ffffff !important;
  border-radius: 100%;
  transform: scale(1.2);
  border: none;
  outline: none;
}

.profile-pic-btn {
  padding: 12px 14px 12px 14px;
  border: none;
  border-radius: 100%;
  transition: transform 2s ease-in-out;
  box-shadow: inset 5px 5px 10px #a1a1a1, inset -5px -5px 10px #ffffff;
  color: black;
}

.profile-pic-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 5px 5px 10px #929292, -5px -5px 10px #ffffff !important;
}

.profile-pic-font {
  font-size: 25px;
}

.nav-profile-secondcol {
  padding: 0;
  display: flex;
  justify-content: end;
}

.custom-input-field {
  width: clamp(100px, 60vw, 600px);
  padding: 22px;
  box-shadow: inset 5px 5px 10px #a1a1a1, inset -5px -5px 10px #ffffff !important;
  border: none !important;
  border-radius: 20px;
  background: #d9d9d9;
  resize: vertical;
  font-family: "Kanit", sans-serif;
  font-size: 17px;
}

.input-field-main-div {
  width: clamp(100px, 60vw, 600px);
}

.error-message {
  color: red;
  font-size: 15px;
  position: relative;
  left: 15px;
  bottom: 12px;
}

.custom-send-button {
  width: clamp(100px, 40vw, 200px);
  position: relative;
  left: 230px;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  background: #d9d9d9;
  border: none;
  font-family: "Kanit", sans-serif;
  box-shadow: 5px 5px 10px #929292, -5px -5px 10px #ffffff !important;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
  color: black;
}

.custom-send-button:hover {
  transform: scale(1.2);
}

.enjoy-icon-div {
  background-color: #e0e0e0 !important;
  border-radius: 50px !important;
  box-shadow: 8px 8px 16px #929292, -8px -8px 16px #ffffff !important;
  padding: 50px;
  width: clamp(120px, 20vw, 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

/* .typing-animation {
  display: inline-block; 
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; 
  width: 0;
  animation: typing 3s steps(30, end) forwards, blink 0.6s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

@media (max-width: 410px) {
  .custom-input-field {
    width: clamp(50px, 50vw, 600px);
    /* width: auto; */
  }
}

@media (max-width: 440px) {
  .image-box {
    width: 200px !important;
    height: 200px !important;
  }

  .round-custom-img {
    width: 200px !important;
    height: 200px !important;
  }
}

@media (max-width: 495px) {
  .heading6 {
    font-size: 15px !important;
  }
}

@media (max-width: 500px) {
  .app-div {
    padding: 10px;
  }
  .neumorphic-card {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 617px) {
  .np-fc {
    line-height: 25px;
    margin: 10px 0 0 0;
  }

  .profile-btn-resp1 {
    position: relative;
    left: 14px;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 684px) {
  .heading6 {
    font-size: 20px;
  }
}

@media (max-width: 778px) {
  .navbar-div-resp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .display-menu-bar {
    display: inline;
  }

  .heading1 {
    position: relative;
    bottom: 12px;
  }

  .navbar-div2 {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hide-navbar-div2 {
    display: none;
  }

  .menu-btn {
    margin: 7px 0 7px 0;
  }

  .nav-profile-firstcol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-profile-secondcol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .flex-div-type1 {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 1000px) {
  .custom-send-button {
    position: static;
  }

  .input-field-main-div {
    width: auto;
  }
}

@media (max-width: 1230px) {
  .image-box {
    width: 300px;
    height: 300px;
  }

  .round-custom-img {
    width: 300px;
    height: 300px;
  }
}
